.social-data {
    width: 350px;
    overflow: hidden;
}

.ibox-content.submit {
    padding: 0px;
    border-width: 0px;
}

.prize-type-fields, .prize-item-template {
    display: none;
}

.prizes-list {
    list-style: none outside none;
    padding: 0;
    font-size: 14px;
}
.prizes-list.small-list {
    font-size: 12px;
}
.prizes-list.small-list > li {
    background: #f3f3f4;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    color: inherit;
    margin-bottom: 2px;
    padding: 6px 6px 10px 12px;
}
.prizes-list > li {
    background: #f3f3f4;
    border-left: 6px solid #e7eaec;
    border-right: 6px solid #e7eaec;
    border-radius: 4px;
    color: inherit;
    padding: 10px;
    margin-bottom: 5px;
}
.prizes-list .handle {
    cursor: move;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
}
.prizes-list > li .label {
    font-size: 9px;
    margin-left: 10px;
}

.post-drag {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1ab394;
    padding: 6px 12px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: move;
}

.row.view {
    display: none;
}

.row.view.active {
    display: block;
}
